.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  width: 90%;
  margin-left: 100px;
}
.header {
  padding: 20px 25px;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(89,243,137,0.3);
  font-family: $headers-font;
  font-size: 45px;
}
