<footer class="footer">
  <div class="sub-footer sub-footer-1">
    <!-- Contenu de la première sous-section -->
    <h2>TheboX. Gagnez en liberté.</h2>
  </div>
  <div class="sub-footer sub-footer-2">
    <!-- Contenu de la deuxième sous-section -->
      <div class="information-links">

    <ul role="list" data-component="InformationalLinks" class="css-7cxn2i">
  <li class="css-1hv3tee">
    <a href="#" class="css-16famhp">Aide</a>
  </li>
  <li class="css-1hv3tee">
    <a href="#" class="css-16famhp">Comment ça marche</a>
  </li>
  <li class="css-1hv3tee">
    <a href="#" class="css-1racc2t">Confidentialité</a>
  </li>
  <li class="css-1hv3tee">
    <a href="#" class="css-1racc2t">Conditions</a>
  </li>
  <li class="css-1hv3tee">
    <a href="#" class="css-16famhp">Recrutement</a>
  </li>
  <li class="css-1hv3tee">
    <a href="#" class="css-16famhp">Contacts</a>
  </li>
  <li class="css-1hv3tee">
    <a href="#" class="css-1racc2t">Charte d'accessibilité</a>
  </li>
</ul>
</div>
  <div class="rights">
    ©2023 TheboX. Tous droits réservés.
  </div>
  </div>
</footer>
