<button class="heart-icon heart-icon-<%= product.id %> like-button" data-action="click->like#like" data-product-id="<%= product.id %>" <%= user_signed_in? && current_user.likes.exists?(product: product) ? 'style=display:none' : '' %>>
  <i class="fa-regular fa-heart" style="color: #000000;"></i>
</button>
