<button class="heart-icon heart-icon-<%= product.id %> unlike-button" data-action="click->like#unlike" data-product-id="<%= product.id %>" data-like-id="<%= current_user.likes.find_by(product: product).id if user_signed_in? && current_user.likes.exists?(product: product) %>" <%= user_signed_in? && current_user.likes.exists?(product: product) ? '' : 'style=display:none' %>>
  <i class="fa-regular fa-heart icon-like" style="color: #5AF388;"></i>
</button>
