<p aria-label="CodePen">
  <span data-text="C">C</span>
  <span data-text="O">O</span>
  <span data-text="N">N</span>
  <span data-text="T">T</span>
  <span data-text="A">A</span>
  <span data-text="C">C</span>
  <span data-text="T">T</span>
</p>
