<head><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

<!-- select_product.html.erb -->
<div class="contain-add-neww container">

  <h1 class="header text-center">Sélectionnez un produit</h1>
  <h2 class="text-center">Trouvez le produit que vous recherchez pour continuer</h2>

  <div class="row justify-content-center">
    <div class="col-md-6">

      <%= form_with url: set_product_path, method: :post do |f| %>
        <div class="form-group">
          <%= text_field_tag :product_model, nil, placeholder: "Recherchez un modéle en entrant les premières lettres.", class: "form-control white-background", id: "product-search" %>

        </div>
        <%= f.submit "Continuer", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    if(!localStorage.getItem('reloaded')) {
      localStorage.setItem('reloaded', true);
      location.reload();
    }
    else {
      localStorage.removeItem('reloaded');
    }
  });

  $(function() {
    var productNames = <%= raw @products.pluck(:modele).to_json %>;

    $( "#product-search" ).autocomplete({
      source: productNames
    });
  });
</script>
