<!-- select_product.html.erb -->
<div class="contain-add">

<h1 class="header">Sélectionnez un produit</h1>
<h2>Trouvez le produit que vous recherchez pour continuer</h2>

<%= form_with url: set_product_path, method: :post do |f| %>
  <div class="form-group">
    <%= label_tag :product_id, "Produit" %>
    <%= select_tag :product_id, options_from_collection_for_select(@products, :id, :modele), class: "form-control" %>
  </div>
      <%= f.submit "Continuer", class: "btn btn-primary" %>

<% end %>
</div>
