<h1>Products</h1>

<div class="products-container">
  <% @products.each do |product| %>
    <div class="product-card">
      <i class="fa-regular fa-star" style="color: white" class="icon-like"></i>
      <h2><%= product.marque %></h2>
      <p><%= product.modele %></p>
      <!-- Add more product details here -->
    </div>
  <% end %>
</div>
